<h1 mat-dialog-title class="font-bold text-xl text-warn">{{ data.title }}</h1>

<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>

<div mat-dialog-actions align="end">
  <!-- The [mat-dialog-close] directive automatically closes the dialog. -->
  <!-- Passing no value or 'false' means the afterClosed() observable will emit 'false' or 'undefined'. -->
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  
  <!-- Passing 'true' means afterClosed() will emit 'true'. -->
 <button mat-flat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>
  {{ data.confirmButtonText || 'Delete' }}
</button>
</div>