<mat-sidenav-container class="h-full w-full">
  <mat-sidenav #sidenav mode="side" opened class="w-64 p-4 border-r hidden md:block">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">MyMoney</h2>
    <mat-nav-list>

      <a mat-list-item routerLink="/dashboard" routerLinkActive="text-primary font-bold bg-indigo-50 rounded-lg">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="/transactions" routerLinkActive="text-primary font-bold bg-indigo-50 rounded-lg">
        <mat-icon matListItemIcon>receipt_long</mat-icon>
        Transactions
      </a>
      <a mat-list-item routerLink="/categories" routerLinkActive="text-primary font-bold bg-indigo-50 rounded-lg">
        <mat-icon matListItemIcon>category</mat-icon>
        Categories
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- MAIN CONTENT AREA -->

  <mat-sidenav-content class="bg-gray-50">

    <!-- TOP TOOLBAR -->
    <mat-toolbar class="bg-primary text-white shadow-md">

      <button mat-icon-button class="md:hidden" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>MyMoney App</span>
    </mat-toolbar>

    <!-- CONTENT -->

    <main class="p-4 md:p-6">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>



<div class="fixed bottom-0 left-0 w-full bg-white border-t flex justify-around items-center p-2 md:hidden">
  <a routerLink="/dashboard" routerLinkActive="text-primary"
    class="flex flex-col items-center text-gray-600 hover:text-primary transition-colors">
    <mat-icon>dashboard</mat-icon>
    <span class="text-xs">Dashboard</span>
  </a>
  <a routerLink="/transactions" routerLinkActive="text-primary"
    class="flex flex-col items-center text-gray-600 hover:text-primary transition-colors">
    <mat-icon>receipt_long</mat-icon>
    <span class="text-xs">Transactions</span>
  </a>
  <a routerLink="/categories" routerLinkActive="text-primary"
    class="flex flex-col items-center text-gray-600 hover:text-primary transition-colors">
    <mat-icon>category</mat-icon>
    <span class="text-xs">Categories</span>
  </a>
</div>