<form [formGroup]="transactionForm" (ngSubmit)="onSave()" class="p-fluid">
  <div class="space-y-5 pt-2">
    <p-selectButton [options]="typeOptions" formControlName="type" optionLabel="label" optionValue="value"></p-selectButton>

    <div class="flex flex-col">
      <label for="amount" class="mb-1 text-sm">Amount (BDT)*</label>
      <p-inputNumber inputId="amount" formControlName="amount" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" placeholder="e.g., 500.00"></p-inputNumber>
    </div>

    <div class="flex flex-col">
      <label for="category" class="mb-1 text-sm">Category*</label>
      <p-dropdown 
        [appendTo]="'body'"
        inputId="category" 
        formControlName="categoryId" 
        [options]="filteredCategories" 
        optionLabel="name" 
        optionValue="id" 
        placeholder="Select a Category">
      </p-dropdown>
    </div>

    <div class="flex flex-col">
       <label for="date" class="mb-1 text-sm">Date*</label>
      <p-calendar 
        [appendTo]="'body'"
        inputId="date" 
        formControlName="date" 
        [showIcon]="true" 
        dateFormat="yy-mm-dd" 
        placeholder="Select a Date">
      </p-calendar>
    </div>
    
    <div class="flex flex-col">
      <label for="description" class="mb-1 text-sm">Description (Optional)</label>
      <textarea inputId="description" pInputTextarea formControlName="description" placeholder="e.g., Lunch with colleagues" [autoResize]="true" rows="3"></textarea>
    </div>
  </div>

  <div class="flex justify-end gap-2 mt-6">
    <p-button label="Cancel" severity="secondary" (click)="onCancel()"></p-button>
    <p-button label="Save Transaction" type="submit" [disabled]="transactionForm.invalid"></p-button>
  </div>
</form>