<form [formGroup]="transactionForm" (ngSubmit)="onSave()">
  <h1 mat-dialog-title class="font-bold text-xl">
    {{ data.transaction ? 'Edit Transaction' : 'Add New Transaction' }}
  </h1>
  <div mat-dialog-content class="space-y-5 pt-2">
    <mat-button-toggle-group formControlName="type" aria-label="Transaction Type" class="w-full">
      <mat-button-toggle value="expense" class="w-1/2">Expense</mat-button-toggle>
      <mat-button-toggle value="income" class="w-1/2">Income</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="flex flex-col">
      <label for="amount" class="mb-1 text-sm">Amount (BDT)*</label>
      <p-inputNumber inputId="amount" formControlName="amount" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" placeholder="e.g., 500.00"></p-inputNumber>
    </div>

    <div class="flex flex-col">
      <label for="category" class="mb-1 text-sm">Category*</label>
      <p-select 
        [appendTo]="'body'"
        inputId="category" 
        formControlName="categoryId" 
        [options]="filteredCategories" 
        optionLabel="name" 
        optionValue="id" 
        placeholder="Select a Category">
      </p-select>
    </div>

    <div class="flex flex-col">
       <label for="date" class="mb-1 text-sm">Date*</label>
      <p-date-picker 
        [appendTo]="'body'"
        inputId="date" 
        formControlName="date" 
        [showIcon]="true" 
        dateFormat="yy-mm-dd" 
        placeholder="Select a Date">
      </p-date-picker>
    </div>
    
    <div class="flex flex-col">
      <label for="description" class="mb-1 text-sm">Description (Optional)</label>
      <textarea inputId="description" pInputTextarea formControlName="description" placeholder="e.g., Lunch with colleagues" [autoResize]="true" rows="3"></textarea>
    </div>
  </div>

  <div mat-dialog-actions align="end" class="p-4">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="transactionForm.invalid">
      Save Transaction
    </button>
  </div>
</form>